<div class="menu">
  <div class="order-1 p-2">
    <li class="menu__entry">
      <a href="https://github.com/SyncopatedStudio" class="socialinks__entry" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
    </li>
  </div>
  <!-- <div class="order-5 p-2">
    <li class="menu__entry">
      <a href="{{ site.url }}/audio">audio</a>
    </li>
  </div> -->
  <div class="order-2 p-2">
    <li class="menu__entry">
      <a href="{{ site.url }}/about">about</a>
    </li>
  </div>
  <!-- <div class="order-3 p-2">
    <li class="menu__entry">
      <a href="{{ site.url }}/about">resources</a>
    </li>
  </div> -->
  <!-- <div class="order-4 p-2">
    <li class="menu__entry">
      <a href="{{ site.url }}/visual">visual</a>
    </li>
  </div> -->
</div>
