
body {
  font-family: $font-family-monospace;
  color: $body;
  background-color: #000000;
  // background-image: url("/assets/images/str_01.png");
  // background-repeat: no-repeat;
  // background-size: auto;
}

a {
  color: $link;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  &:hover {}
}

strong {
  color: #cd308d;
}

h1 {
  font-family: 'Special Elite', cursive;
  font-weight: 200;
  font-size: 1.8em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: antiquewhite;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  font-family: 'Space Mono', monospace;
  font-weight: 300;
  color: $heading2;
  font-size: 2.8em;
  line-height: 42px;
  // text-align: center;
}

h3 {
  font-family: 'Space Mono', monospace;
  font-size: 2.3em;
  font-weight: 500;
  line-height: 42px;
  color: $heading3;
  // text-align: center;
}

h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
  font-family: 'Source Code Pro', monospace;
  color: $heading4;
}

h5 {
  font-size: 1.6em;
  font-weight: 500;
  color: $paragraph;
  font-family: "Noto Sans Mono";
}

p {
  font-size: 1.4em;
  font-weight: 500;
  color: antiquewhite;
  font-family: 'Space Mono', monospace;
}

img {
  // margin: 40px auto;
  display: block;
  max-width: 100%;
}

li[role="doc-endnote"] {
  a {
    color: #2b87cb;
    font-size: initial;
  }
}

ul li {
  font-size: x-large;
}

ol,
ul,
dl {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}


blockquote {
  letter-spacing: 3px;
  margin: 40px 0;
  padding: 0;
  text-align: left;
  position: relative;

  footer {
    position: absolute;
    bottom: -35px;
    font-size: 15px;
    color: #ed2f2f;
    letter-spacing: 0;
    left: 0;
    right: 0;

    &:before {
      content: "** ";
    }

    &:after {
      content: " **";
    }
  }

  p {
    display: inline;
    font-size: 20px;
    color: #73d81d;
    font-weight: 400;
    font-style: italic;

    // &:before {
    //   content: "“ ";
    // }
    //
    // &:after {
    //   content: " ”";
    // }

  }
}


/* Wrapper */
.wrapper {
  display: flex;
  flex-flow: row nowrap;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 1em;
  margin-right: 1em;

  p {
    color: chartreuse;
    font-size: 2em;
  }
}

.menu {
  font-size: 1.5em;
  font-family: "Special Elite";
  padding: 0.5em;
  list-style-type: none;
  word-spacing: 0.5em;
  letter-spacing: 0.2em;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 2em;
}

.menu__entry {
  display: inline-block;
  margin-right: 35px;

  &:last-child {
    margin: 1em;
  }
}

.menu__entry a {
  color: #494a4e;
  font-weight: 400;
}


/* =Header */
.header {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 1em;
    margin-left: 2em;
    margin-right: 2em;

  .logo {
    font-size: 4em;
    color: #0000FF;
    display: flex;
    justify-content: center;
    font-family: $font-family-logo;
    padding: 0.5rem;
  }

  .navigation {
    float: none;
    display: flex;
    justify-content: center;
    padding: 1em;
  }

  .menu {
    display: flex !important;
    flex-direction: row-reverse !important;
    align-items: center;
  }


  .menu__entry {
    display: inline-block;
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }

  .menu__entry a {
    color: #494a4e;
    font-size: 2em;
    font-weight: 500;
  }
}
/* =Footer */

.fixed-bottom {
  position: fixed;
  bottom: 0;
  right: 3em;
  left: 0em;
  z-index: 1030;
}

.footer {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 24em;

  .navigation {
    float: none;
    display: flex;
    justify-content: center;
  }
}

/* =about page */

.bg_image {
  background-image: url("/assets/images/str_20.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -10em;
  background-position-y: -11em;
}

.about__wrapper {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 1em;
  margin-right: 1em;
  align-items: flex-end;
  flex-direction: column;
}

.about {
  color: #70777e;
  display: flex !important;
  max-width: -webkit-fill-available;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  p {
    color: #5e5e58;
    font-size: unset;
  }

}

.about__title {
  display: flex;
  max-width: 70%;
  flex-direction: column;
  padding: 2.5em !important;
  .p-2 {
    font-family: 'Special Elite', cursive;
    font-weight: 200;
    font-size: 1.8em;
    display: inherit;
    padding: unset;
  }
}


.about__border {
    display: flex;
    border: solid;
    border-color: #4e4e4e;
    border-style: dashed;
    max-width: 60%;
    padding: 2.5em !important;
    margin: 9em;
}


.about__text {
  max-width: 100%;
  margin-left: auto !important;
  padding: 3em;
  p-2 {
    padding: 0.5rem !important;
  }
}

.about__devider {
  font-size: 20px;
  margin-bottom: 50px;
  letter-spacing: 9.09px;
}

.about__updated {
  font-size: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: 500;
}


.fa-brands, .fab {
  font-size: xxx-large;
  color: #0000FF;
}

.footnotes {
  margin-bottom: 2em;
}

a[rel="footnote"] {
    border-bottom: none;
    color: $iron;
    line-height: 0;
}

a[rel="footnote"]:before {
    content: "{";
}

a[rel="footnote"]:after {
    content: "}";
}

.jekyll-diagrams {
  background-color: #30e330;
  color: #621fa6;
  font-size: 30px;
  vertical-align: middle;
}

.diagrams {
  background-color: #993430;
  width: 60%;
}

.social-links {
  float: unset;
  font-size: 24px;
  color: $cloudy;
  list-style-type: none;
}

.social-links__entry {
  display: inline-block;
  margin-left: 10px;
}


/* =Explore */
.explore {
  text-align: center;
  color: $cloudy;
  margin-top: 140px;
}

.explore__devider {
  font-size: 18px;
  letter-spacing: 8.18px;
}

.explore__label {
  font-size: 14px;
  margin-top: 15px;
}

.categories {
  list-style-type: none;
  margin-top: 15px;
  padding: 0;
}

.categories__item {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
}

.categories__item a {
  color: #ed2f2f;
}

.categories__item:after {
  content: "/";
  margin-left: 6px;
  color: #ed2f2f;
}

.categories__item:last-child:after {
  content: "";
  margin-left: 0;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1em;
  /* source: https://chowdera.com/2021/10/20211020185047959w.html */
  .backtop a { /* back to top button */
      text-align: center;
      line-height: 50px;
      font-size: 16px;
      width:50px;
      height: 50px;
      position: fixed;
      bottom: 10px; /*  The distance from the small button to the bottom of the browser  */
      right: 60px; /*  The distance from the small button to the right border of the browser  */
      color: rgb(64,120,192); /*  The color of the text in the small button  */
      z-index: 1000;
      background: #fff; /*  Small button background  */
      padding: auto; /*  The distance from the text in the small button to the edge of the button  */
      border-radius: 50px; /*  The bending degree of the small button fillet （ radius ）*/
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      font-weight: bold; /*  The thickness of the text in the small button  */
      text-decoration: none !important;
      box-shadow:0 1px 2px rgba(0,0,0,.15), 0 1px 0 #ffffff inset;
  }

  .backtop a:hover { /*  When the mouse hovers over the small button  */
      background: rgba(64,120,192,0.8); /*  The background color of the small button  */
      color: #fff; /*  Text color  */
  }
}
