@mixin centered-block() {
    display: block;
    text-align: center;
    width: 100%;
}

@media (max-width: 400px) {
  body {
    background-image: none;
  }

  p {
    font-size: 24px;
    line-height: 1.6;
  }

  .d-inline-flex {
    display: inline-flex !important;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .p-2 {
      padding: 1.5em !important;
      align-content: end;
  }

  .wrapper {
    background-color: transparent;
  }
}

@media (max-width: 600px) {
  body {
    background-image: none;
  }

  p {
    font-size: 24px;
    line-height: 1.6;
  }

  .navigation,
  .social-links {
    @include centered-block();
  }

  .social-links {
    font-size: 30px;
    margin-top: 35px;
  }

  .page-title {
    margin-top: 80px;
    margin-bottom: 60px;
  }

  .page-title__text {
    font-size: 40px;
  }

  .page-title__subtitle {
    font-size: 18px;
    margin: 0px;
  }

  .post-teaser__title {
    font-size: 18px;
    @include centered-block();
  }

  .post-teaser__date {
    font-size: 16px;
    margin-top: 10px;
    float: none;
    @include centered-block();
  }

  .explore {
    margin-top: 80px;
  }

  .post-title__text {
    font-size: 28px;
  }

  .post-title__subtitle {
    font-size: 18px;
  }
}


@media (max-width: 800px) {
  body {
    background-size: contain;
  }

  p {
    font-size: 24px;
    line-height: 1.6;
  }
  .header {
    padding: 0.25rem;
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  body {
    background-blend-mode: luminosity;
    background-size: contain;
  }

  p {
    font-size: 24px;
    line-height: 1.6;
  }

  .fa-brands, .fab {
    font-size: xxx-large;
    color: none;
  }

  .header {
    overflow: hidden;
    display: flex;
    margin-top: 1em;
    margin-right: 0em;
    align-items: flex-end;

    .navigation {
      float: none;
      display: flex;
      justify-content: center;
      padding: 1em;
    }

    .logo {
      font-size: 4em;
      color: #686868;
      display: flex;
      justify-content: center;
      font-family: "Podkova", serif;
    }
}

@media (max-width: 1000px) {
  p {
    font-size: 24px;
    line-height: 1.6;
  }

}

@media (max-width: 1400px) {
  p {
    font-size: 24px;
    line-height: 1.6;
  }

  .header {
    overflow: hidden;
    display: flex;
    margin-top: 3em;
    margin-right: 0em;
    align-items: flex-end;

    .navigation {
      float: none;
      display: flex;
      justify-content: center;
      padding: 1em;
    }
  }
}
}
